.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;

  .img-wrapper {
    margin-bottom: 1rem;
    overflow: hidden;
    .img {
      filter: blur(12px);
      object-fit: cover;
    }
  }

  &__article {
    flex: 1 0 0;
  }
  @media only screen and (max-width: 576px) {
    display: none;
  }
}
