@use '../../styleConfig';

.skeleton {
  height: 100%;
  width: 100%;
  min-height: 0.5rem;
  background-image: styleConfig.$gradient;
  border-radius: 12px;
  animation: fade 1s linear infinite alternate;
}
@keyframes fade {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}
